# Ignore class files
*.class

# Ignore package files
*.jar
*.war
*.ear

# Ignore IDE specific files
/.idea/
/*.iml
*.swp

# Ignore build directories
/build/
/target/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db